<h2>Angular Component Communication</h2>

<p>This project shows four ways to pass data between different components in Angular. 
    Click on each link to see the results of each set of components: 
</p>


<h3>Four Methods</h3>
<ul>
    <li><a routerLink="/parent">Parent to Child using @Input</a></li>
    <li><a routerLink="/viewchild/parent">Parent to Child using @ViewChild</a></li>
    <li><a routerLink="/output/parent">Child to Parent using Output() and EventEmitter</a></li>
    <li><a routerLink="/service/parent">Unrelated Components using a Global Service.</a></li>
</ul>